body {
    padding:150px 170px;
   
}

table,th,td {
     border:1px solid black;
     border-collapse: collapse;
     width: 700px;
     font-family: sans-serif;
}
thead th {
    padding:10px;
    text-align: start;
    border:none;
    border-bottom: 1px solid rgb(161, 161, 161);
 
}
 tbody td {
   text-align: start;
    padding:17px;
    border:none;
    border-bottom: 1px solid rgb(153, 153, 153);
}
 tbody tr:nth-child(odd){
    background-color: rgb(178, 178, 178);
}
 table tr:hover{
    background-color: aquamarine;
}
    
